body {
  background: #0b1437;
  font-family: "Public Sans", sans-serif;
  transition: all 250ms ease-in-out;
}

.container {
  max-width: 375px;
  padding: 0 15px;
  margin: 0 auto;
}

.weather .container {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.loader {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  display: none;
}


.write_message {
    text-align: center;
    color: azure;
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 40px;
    display: none;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}